<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Song Life</title>

        {% include "style/font_family.html" %}
        {% include "style/css.html" %}

    </head>
    <body>
        {% include "navbar.html" %}

        <div class="container">
            {% block content_body %}
            {% endblock %}
        </div>

        <!-- ******************* Start jQuery File Link ******************** -->
        <script type="text/javascript" href="{% static "jQuery/myscript.js"%}">

        </script>

        <!-- ******************* End jQuery File Link ******************** -->

        {% include "style/js.html" %}
    </body>
</html>
