{% extends "base.html" %}

{% block content_body %}
    <div class="jumbotron">
        <h1 style="font-family: 'Permanent Marker', cursive;">I can't explain it, but I'll find a song that can...</h1>
    </div>
{% endblock %}
