{%load static %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="font-family: 'Piedra', cursive;" href="{% url "index" %}">Song Life</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "index" %}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "album_app:album_list" %}">Album <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "admin:index"%}">About <span class="sr-only">(current)</span></a>
                    </li>
                </ul>


                <ul class="navbar-nav justify-content-end ">
                        {% if user.is_authenticated %}
                        <!-- Create an album -->
                        <li class=" song-create-icon nav-item">
                            <i>
                            <a href="{% url "album_app:album_create" %}">
                                <svg width="2em" height="1.5em" viewBox="0 0 16 16" class=" bi bi-file-music" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                                    <path d="M9 11.5c0 .828-.895 1.5-2 1.5s-2-.672-2-1.5.895-1.5 2-1.5 2 .672 2 1.5z"/>
                                    <path fill-rule="evenodd" d="M9 5v6.5H8V5h1z"/>
                                    <path d="M8 4.754a1 1 0 0 1 .725-.961l1.5-.429a1 1 0 0 1 1.275.962V6L8 7V4.754z"/>
                                </svg>
                            </a>
                            </i>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="{% url "user_app:user_logout" %}">Logout <span class="sr-only">(current)</span></a>
                        </li>

                        {% else %}

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "user_app:user_register"%}">Registration <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "user_app:user_login" %}">Login <span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                </ul>


            </div>
        </nav>
