{% extends "album_app/album_app_base.html" %}
{% load static %}

{% block content_body %}
        <br>
        {% if album_list %}
        <div class="row">
            <div class="card-deck">


            {% for album in  album_list %}
                <div class="card col-lg-2" style=" width: 16rem;">
                <a class="btn btn-light " href="{% url "album_app:album_details" pk=album.id %}">
                    <img class="card-img-top" src="{{album.album_logo.url}}" alt="Image Not Found!">

                    <div class="card-body">
                        <p class="card-title">{{ album.album_name }}</p>
                    </div>

                </a>
                </div>
            {% endfor %}
            </div>
        </div>
        {% else %}
            <h1>No Album found!</h1>
        {% endif %}

{% endblock %}
