{% extends "album_app/album_app_base.html" %}

{% block content_body %}
    <h2 class="text-white">Are you sure to delete {{album.album_name}}?</h2>
    <form class="text-white" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
        <a class="btn btn-info" href="{% url "album_app:album_details" pk=album.pk %}">Cancel</a>
    </form>
{% endblock %}
