{% extends "album_app/album_app_base.html" %}

{% block content_body %}

    <div class="text-white">

    </div>

    {% if user.is_authenticated %}
        <h1 class="text-white">
            {% if form.instance.pk %}
                Edit your album
            {% else %}
                Create your new album
            {% endif %}
        </h1>

        <form class="text-white" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}

            {% if form.instance.pk %}
                <input type="submit" class="btn btn-success" value="Save">
                <a class="btn btn-info" href="{% url "album_app:album_details" pk=form.instance.pk %}">Cancel</a>
            {% else %}
                <input type="submit" class="btn btn-success" value="Create">
                <a class="btn btn-info" href="{% url "album_app:album_list" %}">Cancel</a>
            {% endif %}

        </form>

    {% else %}
        <h1 class="text-white">This page is not available!!!</h1>
    {% endif %}


{% endblock %}
