{% extends "album_app/album_app_base.html" %}
{% load static %}

{% block content_body %}
<div class="jumbotron row">

    <!-- ***************** Album Details  ***************** -->
    <div class="col-lg-10">

        {% if album_details.album_logo %}
            <img class="rounded float-left" style="height:250px; width:300px;" src="{{ album_details.album_logo.url }}" alt=""/>
        {% else %}
            <h2>Image Not Found!</h2>
        {% endif %}

        <h2>{{album_details}}</h2>
        <h4>Author: {{album_details.album_author}}</h4>
    </div>

    {% if user.is_authenticated%}
    <!--***********  Edit & Delete Button  *************** -->
    <div class="col-lg-2">
        <a class="btn btn-info" href="{% url "album_app:album_update" pk=album_details.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url "album_app:album_delete" pk=album_details.pk %}">Delete</a>
    </div>
    {% endif %}

</div>
<br>


<!-- *********** Song List ************ -->
<div class="container-fluid">
    <h2>List of all songs
    {% if user.is_authenticated %}
    <a href="#" id="song_add_btn" class="btn btn-light "> <img src="{% static "icon/song_add_icon.png" %}" alt=""  height="16px" width="16px"> </a>
    <!-- Icon Owner: <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a> -->
    <div id="">
        <h4>Add Song</h4>
        <form id="song_add_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ album_details.songs.as_p }}
            <input type="submit" class="btn btn-success" value="Add Song">

        </form>
    </div>

    {% endif %}
    </h2>

    <ol>
        {% for song in album_details.songs.all %}
        <li>{{song.song_title}} - {{song.song_duration}} <br>
            <small>{{song.author}}</small></li>
        {% endfor %}
    </ol>
</div>


{% endblock %}
