{% extends "base.html" %}

{% block content_body %}
<br>
<div class="text-white col-lg-6">
    <h1>Registration Form</h1>
    <form action="{% url "user_app:user_register" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="">First Name</label>
            <input class="form-control" type="{{user_form.first_name}}" value="">
        </div>

        <div class="form-group">
            <label for="">Last Name</label>
            <input class="form-control" type="{{user_form.last_name}}" value="" >
        </div>

        <div class="form-group">
            <label for="">Username</label>
            <input class="form-control" type="{{user_form.username}}" value="" >
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input class="form-control" type="{{user_form.email}}" value="" >
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input class="form-control" type="{{user_form.password}}" value="">
        </div>

        <div class="form-group">
            <label for="">Profile Picture</label>
            <input class="form-control-file" type="{{profile_form.user_profile_pic}}" value="" >
        </div>



        <input type="submit" class="btn btn-primary" value="Sign Up">
    </form>
</div>

{% endblock %}

<!--

<tr><th><label for="id_first_name">First name:</label></th>
<td><input type="text" name="first_name"
    maxlength="30" id="id_first_name"></td></tr>

<tr><th><label for="id_last_name">Last name:</label></th>
<td><input type="text" name="last_name" maxlength="150"
    id="id_last_name"></td></tr>

<tr><th><label for="id_username">Username:</label></th>
<td><ul class="errorlist"><li>This field is required.</li></ul>
<input type="text" name="username" maxlength="150"
required id="id_username"><br><span class="helptext">
Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
</span></td></tr>


<tr><th><label for="id_password">Password:</label></th>
<td><ul class="errorlist"><li>This field is required.</li></ul>
<input type="password" name="password" required id="id_password">
</td></tr>
-->
