{% extends "user_app/user_register.html" %}

{% block content_body %}
<div class="text-white col-lg-6">
    <br>
    <h1>Log In!</h1>
    <form class="" action="{% url "user_app:user_login" %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" placeholder="Username"><br>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password"><br>
        </div>

        <input type="submit" class="btn btn-primary" value="Login">
    </form>
</div>

{% endblock %}
