body{
    background-image: url('/static/img/cover.jpeg');

    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
}

.song-create-icon{
    padding-top: 7px;
}


#song_add_form{
	display: none;
    width: 300px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}


.text-white{
    color:white;
}


.text-black{
    color:black;
}


.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
