{% load static %}

<!-- ******************* Start CSS File Link ******************** -->
<link rel="stylesheet" href="{% static "bootstrap-css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-css/bootstrap-grid.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-css/bootstrap-grid.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-css/bootstrap-reboot.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-css/bootstrap-reboot.min.css" %}">
<link rel="stylesheet" href="{% static "css/mystyle.css" %}">
<!-- ******************* End CSS File Link ******************** -->
